body {
      font-style: normal;
      font-weight: 200;
      background-color: black;
      color: white;
}
.main {
      width: 270px;
      height: 150px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -75px 0 0 -135px;
}
header {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 58%;
      width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
#content {
      padding: 10em auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
button {
      background-color: black;
      width: 200px;
      margin: 20em auto;
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 20px;
      padding-left: 10px;
      text-align: center;
      vertical-align: middle;
      border-radius: 0px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      border: 3px solid #FFFFFF;
      color: white;
      transition: all 0.3s linear;
}
#button:hover {
      background-color: white;
      color: black;
}
#button 1 {
      margin-left: 30px;
}
