body {
      background-color: black;
}
.wrapper {
      text-align: center;
}
.button {
      background-color: black;
      top: 60%;
      border: none;
      border-width: thin;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
}
.button:hover {
      background-color: white;
      color: black;

}
.button1 {
      margin-left: 30px;
}
.button2 {
      position: absolute;
}
.button3 {
      margin-right: 30px;
}
.gif-avatar {
      width: 50%;
}
